.fadeIn {
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: var(--ease-out-expo);
  will-change: opacity, transform;
}

.fadeUp {
  transform: translateY(40px);
}

.fadeDown {
  transform: translateY(-40px);
}

.fadeLeft {
  transform: translateX(40px);
}

.fadeRight {
  transform: translateX(-40px);
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}