.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px; /* Adjust padding */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the bars */
  align-items: center; /* Center horizontally */
  gap: 6px; /* Add space between bars */
  height: 50px; /* Adjust size */
  width: 50px; /* Adjust size */
  z-index: 1400; /* Sit on top of the side nav */
  position: fixed; /* Position relative to the viewport */
  top: 10px;
  right: 10px;
}

.bar {
  width: 30px; /* Make bars slightly longer */
  height: 3px;
  background-color: var(--text-color);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-radius: 2px;
  transform-origin: center;
}

/* Animation to 'X' */
.bar1Open {
  /* Rotate and move to the center */
  transform: translateY(9px) rotate(45deg);
}

.bar2Open {
  opacity: 0;
}

.bar3Open {
  /* Rotate and move to the center */
  transform: translateY(-9px) rotate(-45deg);
}
