.card {
  background-color: #282c34;
  border-radius: 8px;
  padding: 25px;
  text-align: left;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  font-size: 2.5rem;
  color: #f0e68c; /* アイコンの色をスキルと少し変える */
}

.title {
  font-size: 1.2rem; /* 少し小さく調整 */
  margin: 0;
  line-height: 1.4;
}