.App {
  text-align: center;
}

.App-header, .App-footer {
  padding: 20px;
  background-color: #282c34;
}

.App-main {
  min-height: 80vh; /* メインコンテンツの領域を確保 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

nav {
  display: flex;
  gap: 20px; /* リンク間の余白 */
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  text-decoration: underline;
}